docker/node-red/flows.json
[
    {
        "id": "workshop-dashboard",
        "type": "ui-base",
        "name": "IoT Workshop Dashboard",
        "path": "/dashboard",
        "theme": "theme-light",
        "order": 1
    },
    {
        "id": "mqtt-inject",
        "type": "inject",
        "name": "Send Test Data",
        "props": [{"p": "payload"}],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\": 25.5, \"humidity\": 60}",
        "payloadType": "json",
        "x": 120,
        "y": 100,
        "wires": [["mqtt-publish"]]
    },
    {
        "id": "mqtt-publish",
        "type": "mqtt out",
        "name": "Publish to MQTT",
        "topic": "sensors/temperature",
        "qos": "0",
        "retain": "false",
        "broker": "emqx-broker",
        "x": 320,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt-subscribe",
        "type": "mqtt in",
        "name": "Subscribe to Sensors",
        "topic": "sensors/+",
        "qos": "0",
        "datatype": "auto",
        "broker": "emqx-broker",
        "x": 120,
        "y": 200,
        "wires": [["ui-chart"]]
    },
    {
        "id": "ui-chart",
        "type": "ui-chart",
        "name": "Sensor Data Chart",
        "group": "sensor-group",
        "order": 1,
        "width": "0",
        "height": "0",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 320,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "sensor-group",
        "type": "ui-group",
        "name": "Sensor Data",
        "tab": "dashboard-tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "height": "1"
    },
    {
        "id": "dashboard-tab",
        "type": "ui-tab",
        "name": "IoT Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "emqx-broker",
        "type": "mqtt-broker",
        "name": "EMQX Broker",
        "broker": "emqx",
        "port": "1883",
        "clientid": "node-red-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
